@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ====== MENU ====== 
    1.General
    2.App
    3.Bar
    4.Navbar
*/

/*

        1.General

*/

:root{
  --main-color: #916fc8;
  --accent-color: #e8eaef;
  --white: #ffffff; 
  --black: #000000;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/*

        2.App

*/

.layout{
  display: flex;
}

.layout__column-left{
  background-color: var(--accent-color);
  width: 250px;
}

.layout__column-right{
  background-color: var(--white);
  width: calc(100% - 250px);
}

.open-navbar .layout__column-left{
  width: 0;
}

.open-navbar .layout__column-right{
  width: 100%;
}

.layout__column-right,
.layout__column-left{
  min-height: calc(100vh - 40px);
  transition: all 300ms ease;
}

/*

        3.Bar

*/

.bar{
  padding: 4px 20px;
  width: 100%;
  height: 40px; 
  background-color: var(--main-color);
}

.bar__container{
  max-width: 1440px;
  display: flex;
  align-items: center;
}

.logo__link{
  display: flex;
  margin-left: 16px;
}

.logo{
  width: 120px;
}

.open-icon,
.close-icon{
  font-size: 32px;
  color: var(--white);
}

.open-icon{
  transform: rotate(90deg);
  display: none;
}

.open-navbar .close-icon{
  display: none;

}

.open-navbar .open-icon{
  display: block;
}

/*

        4.Navbar

*/
nav{
  padding: 10px;
}

.nav__container{
  display: flex;
  justify-content: center;
}

.nav_list{
  opacity: 1;
  transition: all 100ms ease;
}

.open-navbar .nav_list{
  opacity: 0;
}



