@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ====== MENU ====== 
    1.General
    2.App
    3.Navbar
*/

/*

        1.General

*/

:root{
  --main-color: #5E4DFE;
}

/*

        2.App

*/

.app{
  display: flex;
}

.app__column-left{
  min-width: 250px;
  min-height: 100vh;
  background: linear-gradient(291deg, #9e94ff, #5e4dfe);
  background-size: 400% 400%;

  -webkit-animation: background-gradient 12s ease infinite;
  -moz-animation: background-gradient 12s ease infinite;
  animation: background-gradient 12s ease infinite;
}

.app__column-right{
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(291deg, #5e4dfe, #9e94ff);
  background-size: 400% 400%;

  -webkit-animation: background-gradient 15s ease infinite;
  -moz-animation: background-gradient 15s ease infinite;
  animation: background-gradient 15s ease infinite;
}

@-webkit-keyframes background-gradient {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}
@-moz-keyframes background-gradient {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}
@keyframes background-gradient {
  0%{background-position:19% 0%}
  50%{background-position:82% 100%}
  100%{background-position:19% 0%}
}